.reservation {
  padding: 45px 40px;
  background-color: var(--color-white);
  border-radius: 16px;
  max-width: 550px;
  margin: 60px auto;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.reservation__title {
  font-family: 'Noto Serif', serif;
  color: var(--color-accent-green);
  font-size: 28px;
  text-align: center;
  margin-bottom: 35px;
}
.reservation__button {
  width: 100%;
  padding: 16px;
  background-color: var(--color-accent-orange);
  color: var(--color-white);
  border: none;
  border-radius: 8px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.reservation__button:hover {
  background-color: var(--color-accent-orange-hover);
}
